.TQB {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    top: 10vh;
}

.credit {
    position: relative;
    top: -34px;
    color: grey;
    left: 48vw;
    font-size: 12px;
}

.clearBtn {
    border: none;
    margin: 0% 2% 0% 2%;
    width: 42%;
    height: 100%;
    background-color: #FAFAFA;
    color: #10C7B6;
    border-radius: 4px;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid #10C7B6;
    box-sizing: border-box;
    border-radius: 2px;
}

.tqbNav {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: white;
    z-index: 13;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    height: 5vh;
}
.Box {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: none;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #45aaf2;
    margin: 2px;
    animation: Loading 2s linear infinite;
    top: 90vh;
    left: 90vw;
}
.Box span{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    border:5px solid transparent;
    border-top:5px solid #45aaf2;
    border-radius:50%;
    margin:2px;
    animation:Loading 2s linear infinite;
}

@keyframes Loading{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.tqbNavBtn {
    background: no-repeat;
    border: none;
    font-size: 17px;
    color: #3892DC;
    margin: 0 1vw 0 0;
}

.parra{
    margin-left: 8vw;;
}

.qbCont {
    height: 85vh;
    position: relative;
    display: flex;
    top: 5vh;
}

.qbSideBar{
    position: fixed;
    width: 22%;
    height: 100%;
    background: #FAFAFA;
    box-shadow: 6px 1px 16px rgba(0, 0, 0, 0.1);
}

.questions {
    margin-left: 22%;
    width: 78%;
    height: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
ul{
    max-height: 0;
    transition: max-height 0.5s;
}
ul.show {
    max-height: 250px;
}

li:hover {
        background: #efefef;
    }
li:focus {
        background: #ffffff;
}

.selectedOption-up {
    background-image: url('./../../statics/images/arrowUp.png') !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 18vw !important;
}
.selectedOption-down {
    background-image: url('./../../statics/images/arrowDown.png') !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 18vw !important;
}

.filterYear {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.filterHead {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -2vh;
    color: black;
    margin-left: 2vw;
}

.chooseHead {
    font-weight: 600;
    font-size: 22px;
    color: #1B95A2;
    margin-top: 6vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
}

.inputSelect{
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.54);
}

.topicInput {
    width: 90%;
    display: flex;
    margin-right: 1vw;
}

.year {
    width: 90%;
    margin-left: 10px;
    font-weight: 500;
    font-size: 17px;
}
.topic {
    width: 90%;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
}

.yearsInput {
    display: flex;
    margin-right: 1vw;
}

.yearList {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: max-content;
    flex-wrap: wrap;
}

.topicList {
    margin-left: 2vw;
    display: flex;
    height: 20vh;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 91%;
}

.solved{
    display: flex;
    height: 10vh;
    width: 100%;
}
.solvedinputSelect {
    height: 20px;
    width: 20px;
    position: relative;
    border-radius: 20px;
    top: 6vh;
    left: 9vw;
}

.questionImage {
    width: 85%;
    background-size: initial;
}

.applyFilter {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.applyBtn {
    border: none;
    margin: 0% 2% 0% 2%;
    width: 42%;
    height: 100%;
    background-color: #10C7B6;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    font-size: 17px;
}

.applyBtn.focus{
    border: none;
    outline: none !important;
}

button:focus {
    outline: none !important;
}
.questionAnswerCont {
    width: 80%;
    margin: 10%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.questionHead {
    font-weight: 500;
    font-size: 18px;
    color: #10C7B6;
    display: flex;
    justify-content: space-between;
}
.bookmark{
    height: 80%;
}

.question {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
}

.solutionBtn {
    margin-top: 20px;
    text-align: center;
    line-height: 5vh;
    width: 9vw;
    border: 1.5px solid #10C7B6;
    box-sizing: border-box;
    border-radius: 4px;
    height: 5vh;
    font-weight: 500;
    color: #10C7B6;
    cursor: pointer;
    font-size: 15px;
}

.answer {
    display: none;
    padding: 20px;
    background: rgba(16, 199, 182, 0.1);
    margin-top: 2vh;
}

.solutionHead {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 9px;
    color: #10C7B6;
    display: flex;
    justify-content: space-between;
}

.solution{
    font-size: 18px;
}

.endBar {
    border: 0.5px solid rgba(0, 0, 0, 0.54);
    width: 100%;
    margin-top: 2vh;
}

.cross {
    height: 80%;
}

@media screen and (max-width: 800px) {
    .tqbNav {
        height: 6vh;
    }
    .qbSideBar {
        position: fixed;
        width: 100%;
        height: 70px;
        background: #10C7B6;
        box-shadow: 6px 1px 16px rgba(0, 0, 0, 0.1);
    }
    .selectedOption-up {
        background-position-x: 58vw !important;
    }
    .selectedOption-down {
        background-position-x: 58vw !important;
    }
    .imageFilter {
        width: 30px;
        background-image: url('./../../statics/images/filter.png');
        background-color: transparent;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 78%;
        position: relative;
        top: -39px;
        left: 90vw;
    }
    .filterHead {
        display: none;
    }
    .logoProfileTQB {
        height: 5vh;
        margin: 2.5vh 1vh !important;
        border-radius: 100px;
        width: 5vh;
        background: 100% 100%;
    }
    .questionImage {
        width: 100%;
        background-size: initial;
    }
    .credit {
        position: relative;
        top: -29px;
        color: grey;
        left: 52vw;
        width: 50%;
        z-index: -1;
        font-size: 10px;
    }
    .applyFilter {
        height: 6vh;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1vh;
    }
    .question {
        margin-top: 20px;
        font-weight: 500;
        font-size: 17px;
    }
    .filterYear {
        display: flex;
        background: #FAFAFA;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 2px 2px;
        flex-direction: column;
        width: 90%;
        margin-top: -2vh;
        height: 54vh;
        margin-left: 5%;
        opacity: 0;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        /* opacity: 1; */
    }    

    .endBar {
        border: 0.5px solid rgba(0, 0, 0, 0.54);
        width: 100vw;
        margin-top: 2vh;
        margin-left: -6vw;
    }

    .chooseHead {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .solvedinputSelect {
        height: 20px;
        width: 20px;
        position: relative;
        border-radius: 20px;
        top: 3px;
        left: 7vw;
    }
    .solved {
        display: flex;
        height: 3vh;
        width: 100%;
    }
    .topic {
        width: 90%;
        margin-left: 10px;
        font-weight: 500;
        font-size: 15px;
    }
    .year {
        width: 90%;
        margin-left: 10px;
        font-weight: 500;
        font-size: 16px;
    }
    .topicList {
        width: 98%;
    }
    .questions {
        margin-top: 11vh;
        margin-left: 0%;
        width: 100%;
        height: 100%;
    }
    .questionAnswerCont {
        width: 88%;
        margin: 6%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .solution {
        font-size: 16px;
    }
    .Qhead{
        font-size: 22px;
    }
    .solutionBtn {
        margin-top: 20px;
        text-align: center;
        line-height: 4vh !important;
        width: 30vw !important;
        border: 1.5px solid #10C7B6;
        box-sizing: border-box;
        border-radius: 4px;
        height: 6vh;
        font-weight: 500;
        color: #10C7B6;
        cursor: pointer;
        font-size: 12px;
    }
    .Box {
        position: fixed;
        width: 40px;
        height: 40px;
        background-color: none;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top: 5px solid #45aaf2;
        margin: 2px;
        animation: Loading 2s linear infinite;
        top: 90vh;
        left: 80vw;
    }
}