body {
    overflow-y: scroll;
}

.homePage {
    position: relative;
    width: 100vw;
    top: 10vh;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 75vh;
    margin-top: -10vh;
    background-image: url('./../../statics/images/Footer.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contactDetail, .quickLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 36vw;
    margin: 28vh 6vw 7vh 8vw;
    height: 48%;
}

.contactHead, .quickHead {
    font-weight: bold;
    font-size: 35px;
    color: #000000;
    text-align: left;
    margin-bottom: 5%;
    width: 100%;
    height: 12%;
}

.fb{
    background-image: url('./../../statics/images/fb.png');
}

.fb:hover{
    background-image: url('./../../statics/images/fbhover.png');
}

.insta {
    background-image: url('./../../statics/images/insta.png');
}
.insta:hover {
    background-image: url('./../../statics/images/instahover.png');
}

.youTube {
    background-image: url('./../../statics/images/youtube.png');
}
.youTube:hover {
    background-image: url('./../../statics/images/youtubehover.png');
}
.twitter {
    background-image: url('./../../statics/images/twitter.png');
}
.twitter:hover {
    background-image: url('./../../statics/images/twitterhover.png');
}
.linkdin {
    background-image: url('./../../statics/images/linkdin.png');
}
.linkdin:hover {
    background-image: url('./../../statics/images/linkdinhover.png');
}

.fb, .insta, .linkdin, .twitter, .youTube {
    background-repeat: no-repeat;
    background-position: left;
    width: 8%;
    margin: 0% 7% 4% 0%;
    background-size: contain;
    height: 15%;
}

.signUpBtn {
    margin: 0% 1%;
    background-color: #10C7B6;
    border: none;
    outline: none;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: sans-serif;
}

.contact {
    width: 30%;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}
.Num {
    color: #10C7B6;
    width: 70%;
}

.quick{
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    width: 100%;
}
.quick:hover{
    color: #000000;
}

.why {
    background-color: #10C7B6;
    width: 100%;
    height: 75vh;
    display: flex;
}

.whyQuest {
    width: 35%;
    margin: 12vh 0% 3% 13%;
    height: 70%;
    flex-direction: row;
    flex-wrap: wrap;
}

.whySignUp {
    font-size: 21px;
    background-color: white;
    color: #10C7B6;
    height: 6vh;
    margin-top: 15% !important;
    line-height: 6vh !important;
    text-align: center;
    border-radius: 4px;
    width: 170%;
}

.whysignUpBtn {
    margin: 0 -1%;
    background-color: #10c7b6;
    border: none;
    outline: none;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    line-height: 20px;
    font-family: sans-serif;
}

.carousel-inner {
    position: relative;
    width: 100%;
    margin: 3% 0%;
    overflow: hidden;
}

.whyCard {
    width: 45%;
    margin: 13vh 4% 2% 2%;
    height: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.whyPara, .TheQB, .WHY {
    width: 100%;
    color: white;
}
.WHY {
    font-weight: bold;
    font-size: 140px;
}
.TheQB {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 3%;
    margin-top: 3vh;
}
.whyPara {
    font-weight: normal;
    font-size: 24px;
    width: 73%;
    margin-top: 3vh;
    margin-top: 2vh;
}

.Card {
    margin-right: auto;
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(180deg, #3DFAFF 0%, #10C7B7 83%);
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
}

.cardImage1 {
    background-image: url('./../../statics/images/EveryQuestion.png');

}

.cardImage {
    border-radius: 4px 4px 0px 0px;
    background-size: 100% 100%;
    width: 100%;
    height: 65%;
}
.cardImage2 {
    background-image: url('./../../statics/images/AdvanceFilter.png');
}

.cardHead {
    font-weight: 600;
    font-size: 24px;
    width: 94%;
    margin-left: 6%;
}

.cardDetail {
    margin-top: 3%;
    font-weight: normal;
    font-size: 15px;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
}

.about {
    width: 100%;
    height: 75vh;
    display: flex;
    margin-top: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutHead {
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 4% 0%;
}

.aboutCard {
    height: 90%;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
}

.cardAbout1, .cardAbout2, .cardAbout3 {
    height: 60%;
    width: 16% ;
    background: #FFFFFF;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cardAbout1{
    margin:0% 7% 0% 10%;
}
.cardAbout2{
    margin:0% 0% 0% 0%;
}
.cardAbout3{
    margin:0% 10% 0% 7%;
}

.aboutCardHead {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.aboutCardPara {
    font-weight: normal;
    margin: 6% 8%;
    text-align: center;
    font-size: 13px;
    text-align: center;
}

.cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
    background-repeat: no-repeat;
    height: 55%;
    width: 100%;
    background-position: center;
}

.cardAboutImage1{
    background-image: url('./../../statics/images/about1.png');
}

.Mathematics {
    background-image: url('./../../statics/images/Mathematics.png');
}

.Physics {
    background-image: url('./../../statics//images/Physics.png');
}

.Chemistry {
    background-image: url('./../../statics/images/Chemistry.png');
}

.BussinessStudies {
    background-image: url('./../../statics/images/Bussiness\ Studies.png');
}

.Accountancy {
    background-image: url('./../../statics/images/Accountancy.png');
}

.Biology {
    background-image: url('./../../statics/images/Biology.png');
}

.Economics {
    background-image: url('./../../statics/images/Economics.png');
}

.SocialScience {
    background-image: url('./../../statics/images/Social\ Science.png');
}

.MathematicsBlue {
    background-image: url('./../../statics/images/MathematicsBlue.png');
}

.PhysicsBlue {
    background-image: url('./../../statics//images/PhysicsBlue.png');
}

.ChemistryBlue {
    background-image: url('./../../statics/images/ChemistryBlue.png');
}

.BussinessStudiesBlue {
    background-image: url('./../../statics/images/Bussiness\ StudiesBlue.png');
}

.AccountancyBlue {
    background-image: url('./../../statics/images/AccountancyBlue.png');
}

.BiologyBlue {
    background-image: url('./../../statics/images/BiologyBlue.png');
}

.EconomicsBlue {
    background-image: url('./../../statics/images/EconomicsBlue.png');
}

.SocialScienceBlue {
    background-image: url('./../../statics/images/Social\ ScienceBlue.png');
}

.ScienceBlue {
    background-image: url('./../../statics/images/ScienceBlue.png');
}

.cardAboutImage2{
    background-image: url('./../../statics/images/about2.png');
}
.cardAboutImage3{
    background-image: url('./../../statics/images/about3.png');
}

.Science {
    background-image: url('./../../statics/images/Science.png');
}

.HeadCont {
    width: 100vw;
    display: flex;
    height: 73vh;
    background-image: url('./../../statics/images/homebg1.png');
    background-size: 100% 100%;
}

.laptop {
    width: 50%;
    height: 100%;
    background-image: url('./../../statics/images/laptop.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.SignUp {
    margin: 23vh 8% 0vh 3%;
    width: 36%;
    height: 70%;
    color: white;
}

.Head {
    font-weight: 600;
    font-size: 61px;
    margin: 0% 0%;
}

.headPara {
    font-size: 36px;
    width: 70%;
    margin: 4% 0%;
}
.SignUpBtn {
    height: 7vh;
    line-height: 7vh;
    margin: 8% 0%;
    background: #FFFFFF;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: #10C7B6;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 71%;
    text-align: center;
}

.SignUpBtn:hover {
    color: #10C7B6;
}

.glyphicon-chevron-right {
    width: 4vw !important;
    height: 10vh !important;
    background-repeat: no-repeat;
    background-image: url('./../../statics/images/nextArrow.png');
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -50px;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -50px;
}

.carousel-control.right, .carousel-control.left {
    height: 100%;
    background-size: 150% 100%;
    opacity: 1;
    margin-bottom: 4em;
    background-color: white !important;
}

.glyphicon-chevron-left {
    width: 4vw !important;
    height: 10vh !important;
    background-repeat: no-repeat;
    background-image: url('./../../statics/images/previousArrow.png');
}

.glyphicon-chevron-right:before {
    content: none !important;
}

.glyphicon-chevron-left:before {
    content: none !important;
}

.QBACont {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
}

.QBAHead {
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.QBAVideo {
    height: 90%;
    margin-left: 5px;
    display: flex;
    width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
}

.QBAVideo1 {
    height: 100%;
    width: 90%;
    background-color: #10C7B6;
}
.QBAVideo2 {
    height: 49%;
    margin-bottom: 2vh;
    margin-left: 1%;
    width: 50%;
    background-color: #000000;
}
.QBAVideo3 {
    height: 48%;
    background-size: 100% 100%;
    margin-left: 1%;
    width: 50%;
    background-image: url('./../../statics/images/ICSE.png');
}

.carousel {
    margin-top: 7rem;
}

.contbox {
    flex-direction: row;
    display: flex;
    width: 70%;
    height: 45vh;
    background-color: white;
    justify-content: space-between;
}

.mainspeaker{
	display: flex;
	flex-direction: column;
}

.testimonialImage {
    height: 45vh;
}

.testimonialContent {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
}

.testimonialArrow {
    width: 10%;
}
.purp{
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 7px;
}
.circleimg {
    margin-top: 8%;
    width: 39%;
    height: 40%;
    background-color: #FFFFFF;
    border-radius: 113px;
}
.namee{
    margin-top: 37px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}
.para {
    margin: 3vh 0vh 1vh;
    color: black;
    text-align: left;
    font-weight: 500;
    font-size: 21px;
}
.speaker-item{
    display: flex;
    justify-content: space-around;
}

.subjectCardCont {
    height: 80%;
    width: 100%;
    display: flex;
    padding: 5% 5% 5%;
    flex-direction: row;
    justify-content: space-around;
}

.subjectCardMainPage {
    width: 15%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(180deg, #818181 -31%, #303030 103%);
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
}

.cardClass {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */


    color: rgba(255, 255, 255, 0.7);
    margin-top: 3%;
    font-weight: normal;
    font-size: 18px;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;

}

.subjectCardHead {
    font-weight: 600;
    font-size: 24px;
    width: 94%;
    margin-top: 15%;
    margin-left: 6%;
}

.subjectCardContHead {
    font-weight: 600;
    font-size: 50px;
    margin-top: auto;
    text-align: center;
    color: #FFFFFF;
}

.subjectHeadCont {
    width: 100vw;
    flex-direction: column;
    display: flex;
    height: 70vh;
    background-image: url('./../../statics/images/homebg1.png');
    background-size: 100% 100%;
}


html, body, #container, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	cursor:pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

.testimonialHead {
    font-style: normal;
    font-weight: bold;
    font-weight: bold;
    font-size: 40px !important;
    color: #000000;
    text-align: center;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 40px;
}


.PT {
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin: 4% 0% -8%;
}
.PTCard {
    height: 61%;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.Cardptpt {
    cursor: pointer;
    width: 16%;
    height: 95%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(180deg, #3DFAFF 0%, #10C7B7 83%);
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
}

.popularCardPT {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 3% 0%;
    overflow: hidden;
}

.whereLeft{
    margin-left: 7%;
}

.cardHeadPT {
    margin-top: 17%;
    font-weight: 600;
    font-size: 22px;
    width: 94%;
    margin-left: 6%;
}

.cardHeadPTLeft {
    margin-top: 12%;
    font-weight: 600;
    font-size: 22px;
    width: 94%;
    margin-left: 6%;
}

.cardDetailPT {
    margin-top: 3%;
    font-weight: normal;
    font-size: 14px;
    width: 88%;
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
}

.subjectPT {
    position: relative;
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
    left: 22%;
    width: 50%;
    text-align: right;
}
.classPT {
    
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
}

@media screen and (max-width: 800px) {
    .HeadCont {
        height: 75vh;
        background-size: 230% 100%;
        display: flex;
        flex-direction: column;
    }
    .firstsubjectPT {
        position: relative;
        font-weight: 800;
        font-size: 16px;
        line-height: 125%;
        left: 19%;
        width: 71%;
        text-align: right;
    }
    .subjectPT {
        position: relative;
        font-weight: 800;
        font-size: 16px;
        line-height: 125%;
        left: 19%;
        width: 50%;
        text-align: right;
    }
    .laptop {
        width: 100%;
        height: 50%;
        background-image: url('./../../statics/images/laptop.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .SignUp {
        margin: 10% 10% 0% 8%;
        width: 90%;
        height: 40%;
        color: white;
    }
    .Head {
        text-align: center;
        font-size: 27px;
    }
    .signUpContMobile {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .SignUpBtn {
        font-size: 15px;
        line-height: 40px;
        width: 75%;
    }
    .aboutHead {
        font-size: 29px;
        margin: 4% 0% 0%;
    }
    .tqblogoquest {
        height: 5vh;
        margin: 3vh;
        width: 18vh;
        background: 100%;
    }
    .aboutCard {
        margin-top: -10%;
        flex-direction: column;
        height: 85%;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        margin: 0% 12% 0% 12%;
        display: flex;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        height: 40%;
        margin-top: 5%;
        width: 76%;
    }
    .about {
        height: 93vh;
    }
    .cardAboutImage1 {
        background-repeat: no-repeat;
        height: 100%;
        width: 60%;
        background-size: 68%;
        background-position: center;
    }
    .cardAboutImage2 {
        background-repeat: no-repeat;
        height: 100%;
        width: 70%;
        background-size: 70%;
        background-position: center;
    }
    .cardAboutImage3 {
        background-repeat: no-repeat;
        height: 100%;
        width: 80%;
        background-size: 70%;
        background-position: center;
    }
    .aboutCardMobileCont {
        margin: auto;
    }
    .aboutCardHead {
        font-weight: 600;
        font-size: 17px;
        text-align: left;
    }
    .aboutCardPara {
        font-weight: normal;
        margin: 2% 9% 4% 0%;
        text-align: left;
        font-size: 11px;
    }
    .why {
        flex-direction: column;
        height: 115vh;
    }
    .WHY {
        font-weight: bold;
        font-size: 80px;
    }
    .whyQuest {
        width: 82%;
        margin: 7% 7% 7% 11%;
        height: 35%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .TheQB {
        font-weight: bold;
        font-size: 28px;
    }
    .whyPara {
        font-weight: normal;
        font-size: 18px;
    }
    .whyCard {
        width: 90%;
        flex-direction: column;
        margin: 0% 5% 2% 5%;
    }
    .Card {
        width: 80%;
        margin: 7% 10% 0% 10%;
        height: 42%;
    }
    .cardDetail {
        margin-top: 0%;
        font-weight: normal;
        font-size: 12px;
    }
    .cardHead {
        font-weight: 600;
        font-size: 19px;
        width: 94%;
        margin-left: 6%;
    }
    .cardImage1 {
        background-image: url('./../../statics/images/EveryQuestionMobile.png');
    }
    .cardImage2 {
        background-image: url('./../../statics/images/AdvanceFilterMobile.png');
    }
    .QBAHead {
        font-size: 30px;
    }
    .QBAVideo {
        height: 85%;
        margin-left: 0px;
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .QBAVideo1 {
        height: 31%;
        width: 100%;
        margin-bottom: 2%;
        background-color: #10C7B6;
    }
    .QBAVideo2 {
        height: 31%;
        margin-bottom: 2%;
        margin-left: 0%;
        width: 100%;
        background-color: #000000;
    }
    .QBAVideo3 {
        height: 31%;
        background-size: 100% 100%;
        margin-left: 0%;
        width: 100%;
    }
    .QBACont {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    .glyphicon-chevron-right {
        width: 8vw !important;
        height: 10vh !important;
        background-repeat: no-repeat;
        background-image: url('./../../statics/images/nextArrowBlack.png');
    }
    .glyphicon-chevron-left {
        margin-left: 0px ;
        width: 8vw !important;
        height: 10vh !important;
        background-repeat: no-repeat;
        background-image: url('./../../statics/images/previousArrowBlack.png');
    }
    .contbox {
        flex-direction: column;
        display: flex;
        width: 60%;
        height: 91vh;
        background-color: white;
        justify-content: space-between;
    }
    .carousel-control.right, .carousel-control.left {
        height: 100%;
        background-size: 100% 100%;
        opacity: 1;
        background-image: none !important;
        margin-bottom: 4em;
        background-color: white !important;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: 0px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: 0px;
    }
    .testimonialHead {
        color: #000000;
        text-align: center;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 1%;
        font-size: 30px;
    }
    .testimonialArrow {
        margin-top: 4%;
        width: 15%;
    }
    .para {
        margin: 3vh 0vh 1vh;
        color: black;
        text-align: left;
        font-weight: 500;
        width: 60vw;
        font-size: 16px;
    }
    .namee {
        margin-top: 6px;
        color: black;
        font-weight: bold;
        font-size: 25px;
        text-align: left;
    }
    .testimonialContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 65%;
        justify-content: center;
    }
    .purp {
        font-size: 20px;
    }
    .carousel {
        height: 91vh;
        margin: 0;
        width: 100%;
    }
    .footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 207% 100%;
    }
    .contactDetail, .quickLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 84vw;
        margin: 20vh 8vw 0vh 8vw;
        height: 50%;
    }
    .contactHead, .quickHead {
        text-align: center;
        font-size: 22px;
    }
    .contact {
        width: 50%;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
    .Num {
        width: 50%;
    }
    .quickLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 84vw;
        margin: 5vh 8vw 0vh 8vw;
        height: 50%;
    }
    .quick {
        font-weight: 500;
        font-size: 17px;
        color: #000000;
        text-align: center;
        width: 100%;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 25%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }
    .subjectCardCont {
        flex-wrap: wrap;
    }
    .subjectHeadCont {
        width: 100vw;
        flex-direction: column;
        display: flex;
        height: 114vh;
        background-image: url('./../../statics/images/homebg1.png');
        background-size: 200% 100%;
    }
    .Cardptpt {
        cursor: pointer;
        width: 80% !important;
        margin-left: 10%;
        height: 91%;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background: linear-gradient(180deg, #3DFAFF 0%, #10C7B7 83%);
        box-shadow: none;
        border-radius: 4px;
        color: white;
    }
    .subjectCardContHead {
        font-weight: 600;
        font-size: 19px;
        margin-top: 5%;
        text-align: center;
        color: #FFFFFF;
    }
    .subjectCardCont {
        height: 87%;
        width: 100%;
        display: flex;
        padding: 1% 5% 9%;
        flex-direction: row;
        justify-content: space-around;
    }
    .subjectCardHead {
        font-weight: 600;
        font-size: 19px;
        width: 94%;
        margin-top: 15%;
        margin-left: 6%;
    }
    .subjectCardMainPage {
        width: 37%;
        margin-bottom: 7%;
        height: 31%;
    }
    .glyphiconpt-chevron-left {
        width: 8vw !important;
        height: 10vh !important;
        margin-left: 10px;
        top: 146px;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: url('./../../statics/images/left.png');
    }
    .glyphiconpt-chevron-right {
        width: 8vw !important;
        height: 10vh !important;
        background-position-y: center;
        background-repeat: no-repeat;
        margin-left: 10px;
        top: 146px;
        background-image: url('./../../statics/images/right.png');
    }
}