body {
    overflow-y: scroll;
}

.homePage {
    position: relative;
    width: 100vw;
    top: 10vh;
}

input:focus {
    outline:  none;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 75vh;
    margin-top: -10vh;
    background-image: url('./../../statics/images/Footer.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contactDetail, .quickLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 36vw;
    margin: 28vh 6vw 7vh 8vw;
    height: 48%;
}

.contactHead, .quickHead {
    font-weight: bold;
    font-size: 35px;
    color: #000000;
    text-align: left;
    margin-bottom: 5%;
    width: 100%;
    height: 12%;
}

.fb{
    background-image: url('./../../statics/images/fb.png');
}

.fb:hover{
    background-image: url('./../../statics/images/fbhover.png');
}

.insta {
    background-image: url('./../../statics/images/insta.png');
}
.insta:hover {
    background-image: url('./../../statics/images/instahover.png');
}

.youTube {
    background-image: url('./../../statics/images/youtube.png');
}
.youTube:hover {
    background-image: url('./../../statics/images/youtubehover.png');
}
.twitter {
    background-image: url('./../../statics/images/twitter.png');
}
.twitter:hover {
    background-image: url('./../../statics/images/twitterhover.png');
}
.linkdin {
    background-image: url('./../../statics/images/linkdin.png');
}
.linkdin:hover {
    background-image: url('./../../statics/images/linkdinhover.png');
}

.fb, .insta, .linkdin, .twitter, .youTube {
    background-repeat: no-repeat;
    background-position: left;
    width: 8%;
    margin: 0% 7% 4% 0%;
    background-size: contain;
    height: 15%;
}

.signUpBtn {
    margin: 0% 1%;
    background-color: #10C7B6;
    border: none;
    outline: none;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: sans-serif;
}

.contact {
    width: 30%;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}
.Num {
    color: #10C7B6;
    width: 70%;
}

.quick {
    font-weight: 500;
    font-size: 22px;
    color: #000000;
    width: 100%;
}
.quick:hover{
    color: #000000;
}

.why {
    background-color: #10C7B6;
    width: 100%;
    height: 75vh;
    display: flex;
}

.whyQuest {
    width: 35%;
    margin: 9vh 0% 3% 13%;
    height: 70%;
    flex-direction: row;
    flex-wrap: wrap;
}

.whySignUp {
    font-weight: 600;
    font-size: 21px;
    background-color: #fff;
    color: #10c7b6;
    height: 6vh;
    margin-top: 15%!important;
    margin-left: 0;
    line-height: 6vh!important;
    text-align: center;
    border-radius: 4px;
    width: 220%;
}

.whysignUpBtn {
    margin: 0 -1%;
    background-color: #10c7b6;
    border: none;
    outline: none;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    line-height: 20px;
    font-family: sans-serif;
}

.carousel-inner {
    position: relative;
    width: 100%;
    margin: 3% 0%;
    overflow: hidden;
}

.whyCard {
    width: 45%;
    margin: 13vh 4% 2% 2%;
    height: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.whyPara, .TheQB, .WHY {
    width: 100%;
    color: white;
}
.WHY {
    font-weight: bold;
    font-size: 145px;
}
.TheQB {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 3%;
    margin-top: 3vh;
}

.whyPara {
    font-weight: 400;
    font-size: 26px;
    width: 73%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.Card {
    margin-right: auto;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(180deg, #3DFAFF 0%, #10C7B7 83%);
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
}

.cardImage1 {
    background-image: url('./../../statics/images/EveryQuestion.png');

}

.cardImage {
    border-radius: 4px 4px 0px 0px;
    background-size: 100% 101%;
    width: 100%;
    height: 63%;
}
.cardImage2 {
    background-image: url('./../../statics/images/AdvanceFilter.png');
}

.cardHead {
    font-weight: 600;
    font-size: 24px;
    width: 94%;
    margin-left: 6%;
}

.cardDetail {
    margin-top: 3%;
    font-weight: normal;
    font-size: 15px;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
}

.about {
    width: 100%;
    height: 75vh;
    display: flex;
    margin-top: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutHead {
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-size: 37px;
    text-align: center;
    margin: 4% 0%;
}

.aboutCard {
    height: 90%;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
}

.cardAbout1, .cardAbout2, .cardAbout3 {
    height: 60%;
    width: 18%;
    background: #FFFFFF;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cardAbout1{
    margin:0% 7% 0% 10%;
}
.cardAbout2{
    margin:0% 0% 0% 0%;
}
.cardAbout3{
    margin:0% 10% 0% 7%;
}

.aboutCardHead {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.aboutCardPara {
    font-weight: normal;
    margin: 6% 8%;
    text-align: center;
    font-size: 14px;
    text-align: center;
}

.cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
    background-repeat: no-repeat;
    height: 58%;
    width: 100%;
    background-position: center;
}

.cardAboutImage1{
    background-image: url('./../../statics/images/about1.png');
}

.Mathematics {
    background-image: url('./../../statics/images/Mathematics.png');
}

.Physics {
    background-image: url('./../../statics//images/Physics.png');
}

.Chemistry {
    background-image: url('./../../statics/images/Chemistry.png');
}

.BussinessStudies {
    background-image: url('./../../statics/images/Bussiness\ Studies.png');
}

.Accountancy {
    background-image: url('./../../statics/images/Accountancy.png');
}

.Biology {
    background-image: url('./../../statics/images/Biology.png');
}

.Economics {
    background-image: url('./../../statics/images/Economics.png');
}

.SocialScience {
    background-image: url('./../../statics/images/Social\ Science.png');
}

.MathematicsBlue {
    background-image: url('./../../statics/images/MathematicsBlue.png');
}

.PhysicsBlue {
    background-image: url('./../../statics//images/PhysicsBlue.png');
}

.ChemistryBlue {
    background-image: url('./../../statics/images/ChemistryBlue.png');
}

.BussinessStudiesBlue {
    background-image: url('./../../statics/images/Bussiness\ StudiesBlue.png');
}

.AccountancyBlue {
    background-image: url('./../../statics/images/AccountancyBlue.png');
}

.BiologyBlue {
    background-image: url('./../../statics/images/BiologyBlue.png');
}

.EconomicsBlue {
    background-image: url('./../../statics/images/EconomicsBlue.png');
}

.SocialScienceBlue {
    background-image: url('./../../statics/images/Social\ ScienceBlue.png');
}

.ScienceBlue {
    background-image: url('./../../statics/images/ScienceBlue.png');
}

.cardAboutImage2{
    background-image: url('./../../statics/images/about2.png');
}
.cardAboutImage3{
    background-image: url('./../../statics/images/about3.png');
}

.Science {
    background-image: url('./../../statics/images/Science.png');
}

.HeadCont {
    width: 100vw;
    display: flex;
    height: 73vh;
    background-image: url('./../../statics/images/homebg1.png');
    background-size: 100% 100%;
}

.laptop {
    width: 50%;
    height: 100%;
    background-image: url('./../../statics/images/lap.png');
    background-size: 90%;
    margin-left: 3%;
    background-repeat: no-repeat;
    background-position: center;
}

.SignUp {
    margin: 25vh 0% 0% 2%;
    width: 40%;
    height: 51%;
    color: #fff;
}
.Head {
    font-weight: 600;
    font-size: 61px;
    margin: 0% 0%;
}

.headPara {
    font-size: 32px;
    width: 61%;
    margin: 4% 0%;
}
.SignUpBtn {
    height: 7vh;
    line-height: 7vh;
    margin: 8% 0%;
    background: #FFFFFF;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: #10C7B6;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 56%;
    text-align: center;
}

.SignUpBtn:hover {
    color: #10C7B6;
}

.glyphicon-chevron-right {
    width: 4vw !important;
    height: 10vh !important;
    background-repeat: no-repeat;
    background-image: url('./../../statics/images/nextArrow.png');
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -50px;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -50px;
}

.carousel-control.right, .carousel-control.left {
    height: 100%;
    background-size: 150% 100%;
    opacity: 1;
    margin-bottom: 4em;
    background-color: white !important;
}

.glyphicon-chevron-left {
    width: 4vw !important;
    height: 10vh !important;
    background-repeat: no-repeat;
    background-image: url('./../../statics/images/previousArrow.png');
}

.glyphicon-chevron-right:before {
    content: none !important;
}

.glyphicon-chevron-left:before {
    content: none !important;
}

.QBACont {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
}

.QBAHead {
    font-weight: bold;
    font-size: 38px;
    color: #000000;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.QBAVideo {
    height: 90%;
    margin-left: 5px;
    display: flex;
    width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
}

.QBAVideo1 {
    height: 100%;
    width: 90%;
    background-color: #10C7B6;
}
.QBAVideo2 {
    height: 49%;
    margin-bottom: 2vh;
    margin-left: 1%;
    width: 50%;
    background-color: #000000;
}
.QBAVideo3 {
    height: 48%;
    background-size: 100% 100%;
    margin-left: 1%;
    width: 50%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../statics/images/ICSE.png');
}

.carousel {
    margin-top: 7rem;
}

.contbox {
    flex-direction: row;
    display: flex;
    width: 70%;
    height: 50vh;
    background-color: white;
    justify-content: space-between;
}

.mainspeaker{
	display: flex;
	flex-direction: column;
}

.testimonialImage {
    height: 50vh;
}

.testimonialContent {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-right: 11%;
    height: 100%;
    justify-content: center;
}

.testimonialArrow {
    width: 10%;
}
.purp {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 7px;
}
.circleimg {
    margin-top: 8%;
    width: 39%;
    height: 40%;
    background-color: #FFFFFF;
    border-radius: 113px;
}
.namee {
    margin-top: 61px;
    color: black;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
}
.para {
    margin: 4vh 0vh 1vh;
    color: black;
    text-align: left;
    font-weight: 500;
    font-size: 21px;
}
.speaker-item{
    display: flex;
    justify-content: space-around;
}

.subjectCardCont {
    height: 80%;
    width: 100%;
    display: flex;
    padding: 4% 5% 7%;
    flex-direction: row;
    justify-content: space-around;
}

.subjectCardMainPage {
    width: 18%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: linear-gradient(182deg, #3DFAFF -65%, #10C7B6 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
}

.cardClass {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */


    color: rgba(255, 255, 255, 0.7);
    margin-top: 3%;
    font-weight: normal;
    font-size: 18px;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;

}

.subjectCardHead {
    font-weight: 600;
    font-size: 24px;
    width: 94%;
    margin-top: 13%;
    margin-left: 6%;
}

.subjectCardContHead {
    font-weight: 600;
    font-size: 50px;
    margin-top: auto;
    text-align: center;
    color: #FFFFFF;
}

.subjectHeadCont {
    width: 100vw;
    flex-direction: column;
    display: flex;
    height: 80vh;
    background-image: url('./../../statics/images/homebg1.png');
    background-size: 100% 100%;
}


html, body, #container, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	cursor:pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

.testimonialHead {
    font-style: normal;
    font-weight: bold;
    font-weight: bold;
    font-size: 38px !important;
    color: #000000;
    text-align: center;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 40px;
}

.PT {
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 4% 0% -8%;
}
.PTCard {
    height: 84%;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.Cardptpt {
    cursor: pointer;
    width: 16%;
    height: 95%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(180deg, #3DFAFF 0%, #10C7B7 83%);
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
}

.popularCardPT {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 3% 0%;
    overflow: hidden;
}

.whereLeft{
    margin-left: 7%;
}

.cardHeadPT {
    margin-top: 14%;
    font-weight: 600;
    font-size: 22px;
    width: 94%;
    margin-left: 6%;
}

.cardHeadPTLeft {
    margin-top: 8%;
    font-weight: 600;
    font-size: 22px;
    width: 94%;
    margin-left: 6%;
}

.cardDetailPT {
    margin-top: 3%;
    font-weight: normal;
    font-size: 14px;
    width: 88%;
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
}

.subjectPT {
    position: relative;
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
    left: 22%;
    width: 50%;
    text-align: right;
}
.classPT {
    
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
}

@media screen and (max-height:900px) {
    .solved {
        height: 8vh;
    }
}
@media screen and (max-height:800px) {
    .chooseHead {
        margin-top: 4vh;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }
    .solvedinputSelect {
        top: 4vh;
    }
}
@media screen and (max-height:700px) {
    .topicList {
        height: 17vh;
    }
}
@media screen and (max-width:1830px) {
    .solvedinputSelect {
        left: 8vw;
    }   
}
@media screen and (max-width:1680px) {
    .solvedinputSelect {
        left: 7vw;
    }   
}
@media screen and (max-width:1530px) {
    .applyBtn {
        font-size: 15px;
    }  
    .clearBtn {
        font-size: 15px;
    }
    .chooseHead {
        font-size: 18px;
    }
    .filterHead {
        font-size: 28px;
    }
    .tqbNavBtn {
        font-size: 15px;
    }
}
@media screen and (max-width:1380px) {
    .solvedinputSelect {
        left: 6vw;
    }   
    .year {
        font-size: 15px;
    }
    .topic {
        font-size: 15px;
    }
    .solutionBtn {
        line-height: 4vh;
        width: 11vw;
        height: 4vh;
        font-size: 14px;
    }
}
@media screen and (max-width: 1675px) and (max-height: 800px) {
    .Head {
        font-size: 55px;
    }
    .tqblogoquest {
        height: 38px;
        margin: 2.5vh -1vh;
        width: 25vh;
        background: 100% 100%;
    }
    .headpara {
        font-size: 34px;
    }
    .whyQuest {
        margin: 11vh 0% 3% 13%;
    }
    .WHY {
        font-size: 130px;
    }
    .contact {
        width: 40%;
    }
    .Num {
        width: 60%;
    }
    .fb, .insta, .linkdin, .twitter, .youTube {
        margin: 0% 8% 4% 0%;
    }
}
@media screen and (min-width: 1500px) {
    .Head {
        font-size: 54px;
    }
    .headpara {
        font-size: 34px;
    }
}
@media screen and (max-width: 1700px) {
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 66%; */
        width: 18%;
    }
    .QBACont {
        height: 75vh;
    }
}
@media screen and (min-width: 1450px) {
    .whyCard {
        width: 50%;
    }
}
@media screen and  (max-width:1280px) {
    .registerForm {
        width: 69%;
    }
}
@media screen and (min-width: 1600px) and (max-height: 750px) {
    .SignUp {
        margin: 26vh 0% 0 3%;
    }
    .HeadCont {
        height: 84vh;
    }
    .whyPara {
        margin-bottom: 0vh;
    }
}
@media screen and (min-width: 1720px) and (max-height: 750px) {
    .HeadCont {
        height: 87vh;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        height: 66%;
    }
    .aboutHead {
        height: 7%;
    }
    .about {
        height: 80vh;
        margin-top: 5vh;
    }
    .whyCard {
        height: 62%;
    }
    .cardImage {
        height: 60%;
    }
    .why {
        height: 80vh;
    }
}
@media screen and (max-height: 700px){
    .tqblogoquest {
        width: 24vh;
        height: 42px;
    }
}
@media screen and (max-width: 1720px) and (max-height: 700px) {
    .about {
        height: 80vh;
        margin-top: 5vh;
    }
    .whyCard {
        height: 62%;
    }
    .cardImage {
        height: 60%;
    }
    .why {
        height: 80vh;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        width: 18%;
    }
    .tqblogoquest {
        width: 24vh;
        height: 42px;
    }
}

@media screen and (max-width: 1500px) and (min-height: 750px) {
    .Head {
        font-size: 48px;
    }
    .headPara {
        font-size: 31px;
    }
    .SignUpBtn{
        width: 62%;
        font-size: 19px;
    }
    
    .WHY {
        font-size: 121px;
    }
    .whyPara {
        font-size: 22px;
    }
    .whySignUp {
        font-size: 20px;
    }
    .contact {
        width: 45%;
    }
    .Num {
        width: 55%;
    }
    .Card {
        width: 40%;
    }
}
@media screen and (max-height: 750px) {
    .tqblogoquest {
        width: 25vh;
    }
}
@media screen and (max-width: 1750px) and (max-height: 750px) {
    .cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
        height: 51%;
    }
    .tqblogoquest {
        width: 25vh;
    }
    .WHY {
        font-size: 125px;
    }
    .whyQuest {
        margin: 10vh 0% 3% 13%;
    }
    .cardImage {
        height: 60%;
    }
    .whyCard {
        height: 63%;
    }
    .footer {
        height: 80vh;
    }
}
@media screen and (max-width: 1675px) and (max-height: 750px) {
    .registerHead {
        font-size: 36px;
    }
    .RegisterBtnBtn {
        height: 120%;
    }
    
    .cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
        height: 51%;
    }
    .tqblogoquest {
        width: 25vh;
    }
    .WHY {
        font-size: 125px;
    }
    .whyQuest {
        margin: 10vh 0% 3% 13%;
    }
    .namee {
        margin-top: 21px;
        font-size: 29px;
    }
    .para {
        font-size: 18px;
    }
    .purp {
        font-size: 23px;
    }
    .why { 
        height: 80vh;
    }
    .cardImage {
        height: 60%;
    }
    .whyCard {
        height: 63%;
    }
    .footer {
        height: 80vh;
    }
}
@media screen and (max-width: 1500px) and (max-height: 750px) {
    .Head {
        font-size: 48px;
    }
    .headPara {
        font-size: 31px;
    }
    .subjectCardContHead {
        font-size: 45px;
    }
    .SignUpBtn{
        width: 62%;
        font-size: 19px;
    }
    .WHY {
        font-size: 121px;
    }
    .whyPara {
        font-size: 22px;
    }
    .whySignUp {
        font-size: 20px;
    }
    .contact {
        width: 45%;
    }
    .Num {
        width: 55%;
    }
    .Card {
        width: 40%;
    }
    .loginForm {
        height: 44%;
        margin: 29% 10%;
    }
    .loginHead {
        font-size: 38px;
    }
    .form-control-register-lr {
        font-size: 18px;
    }
    .RegisterBtnBtn {
        font-size: 22px;
    }
}
@media screen and (max-width: 1450px) and (max-height: 600px) {
    .cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
        height: 48%;
    }
    .aboutCardHead {
        font-size: 23px;
    }
    .aboutCardPara {
        font-size: 12px;
    }
    .whyPara {
        font-size: 21px;
    }
    .TheQB {
        font-size: 34px;
    }
    .WHY {
        font-size: 115px;
    }
    .whyQuest {
        margin: 10vh 0% 3% 13%;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        height: 65%;
        width: 18%;
    }
    .aboutHead {
        margin: 3% 0%;
    }
    .why {
        height: 80vh;
    }
}

@media screen and (max-height: 650px) {
    .tqblogoquest {
        width: 25vh;
        height: 41px;
    }
}
@media screen and (min-width: 1350px) and (max-height: 650px) {
    .tqblogoquest {
        width: 25vh;
        height: 41px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        height: 65%;
    }
    .whyPara {
        font-size: 21px;
    }
    .WHY {
        font-size: 115px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        height: 65%;
        width: 18%;
    }
}
@media screen and (min-width: 1500px) and (max-height: 650px) {
    .HeadCont {
        height: 85vh;
    }
}
@media screen and (min-width: 1700px) and (max-height: 650px) {
    .HeadCont {
        height: 95vh;
    }
    .about {
        height: 90vh;
        /* margin-top: 5vh; */
    }
    .whySignUp {
        height: 7vh;
        line-height: 7vh!important;
    }
}
@media screen and (max-width: 1350px) and (min-height: 600px) {
    .HeadCont {
        height: 80vh;
    }
    .btnTextProfile {
        font-size: 20px;
    }
    .Head {
        font-size: 45px;
    }
    .StuName {
        font-size: 35px;
    }
    .componentDetail {
        font-size: 20px;
    }
    .yearHeadProgress {
        font-size: 25px;
    }
    .subjectHeadCard {
        font-size: 23px;
    }
    .savedQuestBtn {
        font-size: 16px;
    }
    .editBtn {
        font-size: 16px;
    }
    .componentDetailSubject {
        font-size: 20px;
    }
    .Class {
        font-size: 24px;
    }
    .SignUpBtn {
        width: 62%;
        font-size: 18px;
    }
    .headPara {
        font-size: 27px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 65%;
    }
    .about {
        height: 85vh;
    }
    .whySignUp {
        height: 7vh;
        margin-top: 8%!important;
        line-height: 7vh!important;
    }
    .whyPara {
        font-size: 20px;
    }
    .TheQB {
        font-size: 34px;
    }
    .WHY {
        font-size: 115px;
    }
}

@media screen and (max-width: 1350px) and (min-height: 700px) {
    .HeadCont {
        height: 75vh;
    }
    .Head {
        font-size: 50px;
    }
    .subjectCardContHead {
        font-size: 40px;
    }
    .SignUpBtn {
        width: 62%;
        font-size: 19px;
    }
    .headPara {
        font-size: 28px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 60%;
    }
    .about {
        height: 80vh;
    }
    .whySignUp {
        height: 6vh;
        margin-top: 15%!important;
        line-height: 6vh!important;
    }
    .whyPara {
        font-size: 22px;
    }
    .TheQB {
        font-size: 36px;
    }
    .WHY {
        font-size: 120px;
    }
}
@media screen and (max-width: 1350px) and (min-height: 800px) {
    .HeadCont {
        height: 72vh;
    }
    .Head {
        font-size: 50px;
    }
    .SignUpBtn {
        width: 62%;
        font-size: 19px;
    }
    .headPara {
        font-size: 28px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 60%;
        width: 19%;
    }
    .about {
        height: 75vh;
    }
    .whySignUp {
        height: 6vh;
        margin-top: 15%!important;
        line-height: 6vh!important;
    }
    .whyPara {
        font-size: 22px;
    }
    .TheQB {
        font-size: 36px;
    }
    .WHY {
        font-size: 120px;
    }
}
@media screen and (max-width: 1250px) and (min-height: 500px) {
    .HeadCont {
        height: 80vh;
    }
    .btnTextProfile {
        font-size: 18px;
    }
    .yearHeadProgress {
        font-size: 22px;
    }
    .subjectHeadCard {
        font-size: 20px;
    }
    .savedQuestBtn {
        font-size: 14px;
    }
    /* .Head {
        font-size: 45px;
    } */
    .StuName {
        font-size: 30px;
    }
    .componentDetail {
        font-size: 18px;
    }
    .editBtn {
        font-size: 14px;
        width: 17%;
    }
    .componentDetailSubject {
        font-size: 18px;
    }
    .subjectCardContHead {
        font-size: 40px;
    }
    .cardHeadPT {
        font-size: 16px;
        margin-top: 18%;
    }
    .subjectPT {
        font-size: 14px;
    }
    .classPT {
        font-size: 13px;
        width: 54%;
    }
    .cardDetailPT {
        font-size: 13px;
        width: 60%;
    }
    .loginForm {
        height: 45%;
        width: 80%;
        margin: 35% 10%;
    }    
    .loginHead {
        font-size: 30px;
    }
    .form-control-register-lr {
        font-size: 17px;
    }
    .already {
        font-size: 14px;
    }
    .RegisterBtnBtn {
        font-size: 20px;
    }
    .Head {
        font-size: 42px;
    }
    .SignUpBtn {
        width: 60%;
        font-size: 16px;
    }
    .headPara {
        font-size: 25px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 63%;
        width: 19%;
    }
    .about {
        height: 80vh;
    }
    .whySignUp {
        height: 7vh;
        margin-top: 8%!important;
        line-height: 7vh!important;
    }
    .whyPara {
        font-size: 19px;
    }
    .TheQB {
        font-size: 32px;
    }
    .WHY {
        font-size: 110px;
    }
    .cardHead {
        font-size: 22px;
    }
    .cardDetail {
        font-size: 13px;
    }
    .para {
        font-size: 18px;
    }
    .namee {
        margin-top: 30px;
        font-size: 30px;
    }
    .purp {
        font-size: 22px;
    }
}
@media screen and (max-width: 1250px) and (min-height: 700px) {
    .HeadCont {
        height: 72vh;
    }
    .Head {
        font-size: 42px;
    }
    .SignUpBtn {
        width: 60%;
        font-size: 16px;
    }
    .headPara {
        font-size: 25px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 62%;
        width: 19%;
    }
    .about {
        height: 73vh;
    }
    .whySignUp {
        height: 7vh;
        margin-top: 8%!important;
        line-height: 7vh!important;
    }
    .why {
        height: 75vh;
    }
    .Card {
        width: 45%;
    }
    .quick {
        font-size: 18px;
    }
    .contact {
        font-size: 18px;
    }
    .contactHead, .quickHead {
        font-size: 32px;
    }    
}
@media screen and (max-width: 1250px) and (min-height: 800px) {
    .HeadCont {
        height: 66vh;
    }
    .Head {
        font-size: 42px;
    }
    .SignUpBtn {
        width: 60%;
        font-size: 16px;
    }
    .why {
        height: 70vh;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 63%;
        width: 22%;
    }
    .about {
        height: 70vh;
    }
    .whySignUp {
        height: 6vh;
        margin-top: 8%!important;
        line-height: 6vh!important;
    }
    .loginForm {
        height: 35%;
        margin: 47% 10%;
    }
}

@media screen and (max-width: 1150px) and (min-height: 500px) {
    .HeadCont {
        height: 70vh;
    }
    .navAuthBtn {
        margin: 1% 1%;
        font-size: 18px;
        line-height: 20px;
    }
    .tqblogoquest {
        width: 24vh;
        margin: 2vh -7vh;
        height: 41px;
    }
    .getStartBtn {
        font-size: 16px;
        margin-top: 15% !important;
        border-radius: 4px;
        width: 133%;
    }
    .Head {
        font-size: 36px;
    }
    .SignUpBtn {
        width: 60%;
        font-size: 14px;
    }
    .headPara {
        font-size: 22px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 63%;
        width: 22%;
    }
    .about {
        height: 80vh;
    }
    .why {
        height: 75vh;
    }
    .Card {
        width: 45%;
    }
    .whySignUp {
        height: 7vh;
        margin-top: 8%!important;
        line-height: 7vh!important;
    }
    .whyPara {
        font-size: 17px;
    }
    .TheQB {
        font-size: 30px;
    }
    .WHY {
        font-size: 105px;
    }
    .cardHead {
        font-size: 20px;
    }
    .cardDetail {
        font-size: 12px;
    }
    .para {
        font-size: 16px;
    }
    .namee {
        margin-top: 28px;
        font-size: 28px;
    }
    .purp {
        font-size: 20px;
    }
    .quick {
        font-size: 18px;
    }
    .contact {
        font-size: 18px;
    }
    .contactHead, .quickHead {
        font-size: 32px;
    }  
}
@media screen and (max-width: 1150px) and (min-height: 700px) {
    .HeadCont {
        height: 63vh;
    }
    .SignUp {
        margin: 20vh 0% 0 3%;
    }
    .about {
        margin-top: 4vh;
        height: 70vh;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 63%;
        width: 22%;
    }
    .whySignUp {
        height: 6vh;
        margin-top: 8%!important;
        line-height: 6vh!important;
    }
    .why {
        height: 65vh;
    }
}
@media screen and (max-width: 1150px) and (min-height: 800px) {
    .HeadCont {
        height: 60vh;
    }
    .tqblogoquest {
        width: 21vh;
        margin: 3vh -9vh;
        height: 43px;
    }
    .SignUp {
        margin: 18vh 0% 0 3%;
    }
    .about {
        margin-top: 3vh;
        height: 65vh;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 63%;
        width: 22%;
    }
    .whySignUp {
        height: 5vh;
        margin-top: 4%!important;
        line-height: 5vh!important;
    }
    .why {
        height: 60vh;
    }
    .cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
        height: 52%;
    }
    .SignUpBtn {
        height: 6vh;
        line-height: 6vh;
    }
}
@media screen and (max-width: 950px) and (min-height: 500px) {
    .HeadCont {
        height: 65vh;
    }
    .Head {
        font-size: 29px;
    }
    .SignUpBtn {
        width: 60%;
        font-size: 13px;
    }
    .headPara {
        font-size: 20px;
    }
    .aboutHead {
        font-size: 36px;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 63%;
        width: 24%;
    }
    .cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
        height: 47%;
    }
    .about {
        height: 75vh;
    }
    .aboutCardHead {
        font-size: 22px;
    }
    .aboutCardPara {
        font-size: 12px;
    }
    .why {
        height: 65vh;
    }
    .Card {
        width: 45%;
    }
    .whySignUp {
        height: 6vh;
        margin-top: 4%!important;
        line-height: 6vh!important;
        font-size: 18px;
    }
    .whyPara {
        font-size: 15px;
    }
    .TheQB {
        font-size: 25px;
    }
    .WHY {
        font-size: 90px;
    }
    .cardHead {
        font-size: 18px;
    }
    .cardDetail {
        font-size: 12px;
    }
    .QBAHead {
        font-size: 36px;
    }
    .QBACont {
        height: 74vh;
    }
    .para {
        font-size: 15px;
    }
    .namee {
        margin-top: 26px;
        font-size: 26px;
    }
    .purp {
        font-size: 18px;
    }
    .quick {
        font-size: 16px;
    }
    .contact {
        font-size: 16px;
        width: 50%;
    }
    .Num {
        width: 50%;
    }
    .contactHead, .quickHead {
        font-size: 30px;
    }  
}
@media screen and (max-width: 950px) and (min-height: 700px) {
    .HeadCont {
        height: 45vh;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        /* height: 60%; */
        height: 63%;
        width: 24%;
    }
    .SignUp {
        margin: 13vh 0% 0 3%;
    }
    .SignUpBtn {
        height: 4vh;
        line-height: 4vh;
    }
    .cardAboutImage1, .cardAboutImage2, .cardAboutImage3 {
        height: 47%;
    }
    .about {
        height: 55vh;
    }
    .why {
        height: 60vh;
    }
    .Card {
        width: 45%;
    }
    .whySignUp {
        height: 5vh;
        margin-top: 4%!important;
        line-height: 5vh!important;
        font-size: 18px;
    }
    .QBACont {
        height: 65vh;
    }
    .QBAVideo3 {
        height: 49%;
    }
    .QBAVideo2 {
        height: 48%;
        margin-bottom: 1vh;
    }
    .QBACont {
        height: 45vh;
    }
    .testimonialImage {
        height: 31vh;
    }
    .carousel-control.right, .carousel-control.left {
        height: 69%;
        z-index: 2;
    }
    .testimonialContent {
        height: 73%;
    }
    .footer {
        margin-top: -22vh;
        height: 55vh;
    }
    .contactDetail, .quickLinks {
        margin: 21vh 6vw 7vh 8vw;
    }
    .carousel {
        height: 60vh;
        margin: 0;
        z-index: -1;
    }
}
@media screen and (max-width: 800px) {
    .HeadCont {
        height: 89vh;
        background-size: 230% 100%;
        display: flex;
        flex-direction: column;
    }
    .firstsubjectPT {
        position: relative;
        font-weight: 800;
        font-size: 16px;
        line-height: 125%;
        left: 46%;
        width: 71%;
        text-align: right;
    }
    .subjectPT {
        position: relative;
        font-weight: 800;
        font-size: 16px;
        line-height: 125%;
        left: 30%;
        width: 50%;
        text-align: right;
    }
    .laptop {
        width: 100%;
        height: 72%;
        margin-bottom: -25%;
        background-image: url('./../../statics/images/laptop.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .SignUp {
        margin: 10% 5% 0% 5%;
        width: 90%;
        height: 40%;
        color: white;
    }
    .Head {
        text-align: center;
        font-size: 24px;
    }
    .signUpContMobile {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .SignUpBtn {
        font-size: 14px;
        line-height: 41px;
        width: 75%;
        height: 5vh;
    }
    .aboutHead {
        font-size: 22px;
        margin: 4% 0% 0%;
    }
    .tqblogoquest {
        height: 38px;
        margin: 2.5vh -2vw 0vh 4vw;
        width: 38vw;
        background: 100%;
    }
    .aboutCard {
        margin-top: -10%;
        flex-direction: column;
        height: 85%;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        margin: 0% 12% 0% 12%;
        display: flex;
    }
    .cardAbout1, .cardAbout2, .cardAbout3 {
        height: 40%;
        margin-top: 5%;
        width: 76%;
    }
    .about {
        height: 83vh;
    }
    .cardAboutImage1 {
        background-repeat: no-repeat;
        height: 100%;
        width: 75%;
        background-size: 60%;
        background-position: center;
    }
    .cardAboutImage2 {
        background-repeat: no-repeat;
        height: 100%;
        width: 90%;
        background-size: 60%;
        background-position: center;
    }
    .cardAboutImage3 {
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: 60%;
        background-position: center;
    }
    .aboutCardMobileCont {
        margin: auto;
    }
    .aboutCardHead {
        font-weight: 600;
        font-size: 17px;
        text-align: left;
    }
    .aboutCardPara {
        font-weight: normal;
        margin: 2% 9% 4% 0%;
        text-align: left;
        font-size: 11px;
    }
    .why {
        flex-direction: column;
        height: 120vh;
    }
    .WHY {
        font-weight: bold;
        font-size: 80px;
    }
    .whyQuest {
        width: 75%;
        margin: 7% 9% 7% 15%;
        height: 38%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .TheQB {
        font-weight: bold;
        font-size: 28px;
    }
    .whyPara {
        font-weight: normal;
        font-size: 18px;
    }
    .whyCard {
        width: 90%;
        flex-direction: row;
        margin: 0% 5% 2% 5%;
    }
    .Card {
        width: 80%;
        margin: 7% 10% 0% 10%;
        height: 42%;
        background: linear-gradient(180deg, #3DFAFF 28%, #10C7B7 83%);
    }
    .cardDetail {
        margin-top: 0%;
        font-weight: normal;
        font-size: 12px;
    }
    .cardHead {
        font-weight: 600;
        font-size: 19px;
        width: 94%;
        margin-left: 6%;
    }
    .cardImage1 {
        background-image: url('./../../statics/images/EveryQuestionMobile.png');
    }
    .cardImage2 {
        background-image: url('./../../statics/images/AdvanceFilterMobile.png');
    }
    .testimonialImage {
        height: 40vh;
    }
    .QBAHead {
        font-size: 25px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 70%;
        margin-left: 15%;
    }
    .footer {
        margin-top: -8vh;
        height: 55vh;
    }
    .footer {
        margin-top: -2vh;
        height: 55vh;
    }
    .QBAVideo {
        height: 85%;
        margin-left: 0px;
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .QBAVideo1 {
        height: 31%;
        width: 100%;
        margin-bottom: 2%;
        background-color: #10C7B6;
    }
    .QBAVideo2 {
        height: 31%;
        margin-bottom: 2%;
        margin-left: 0%;
        width: 100%;
        background-color: #000000;
    }
    .QBAVideo3 {
        height: 31%;
        background-size: 100% 100%;
        margin-left: 0%;
        width: 100%;
    }
    .QBACont {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    .glyphicon-chevron-right {
        width: 8vw !important;
        height: 10vh !important;
        background-repeat: no-repeat;
        background-image: url('./../../statics/images/nextArrowBlack.png');
        
    }
    .glyphiconpt-chevron-right {
        width: 8vw !important;
        height: 10vh !important;
        background-position-y: center;
        background-repeat: no-repeat;
        margin-left: -32px;
        top: 146px;
    }
    .glyphicon-chevron-left {
        margin-left: 0px ;
        width: 8vw !important;
        height: 10vh !important;
        background-repeat: no-repeat;
        background-image: url('./../../statics/images/previousArrowBlack.png');
    }
    .contbox {
        flex-direction: column;
        display: flex;
        width: 60%;
        height: 91vh;
        background-color: white;
        justify-content: space-between;
    }
    .carousel-control.right, .carousel-control.left {
        height: 100%;
        background-size: 100% 100%;
        opacity: 1;
        background-image: none !important;
        margin-bottom: 4em;
        background-color: white !important;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: 0px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: 0px;
    }
    .testimonialHead {
        color: #000000;
        text-align: center;
        width: 100%;
        margin-top: 7%;
        margin-bottom: 4%;
        font-size: 22px !important;
    }
    .testimonialArrow {
        margin-top: 4%;
        width: 15%;
    }
    .para {
        margin: 3vh 0vh 1vh;
        color: black;
        text-align: left;
        font-weight: 500;
        width: 60vw;
        font-size: 16px;
    }
    .namee {
        margin-top: 6px;
        color: black;
        font-weight: bold;
        font-size: 25px;
        text-align: left;
    }
    .testimonialContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 65%;
        justify-content: center;
    }
    .purp {
        font-size: 20px;
    }
    .carousel {
        height: 91vh;
        margin: 0;
        z-index: 10000;
        width: 100%;
    }
    .popularCardPT {
        position: relative;
        width: 56%;
        height: 60%;
        margin: 3% 22%;
        overflow: hidden;
    }
    .footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 207% 100%;
    }
    .contactDetail, .quickLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 84vw;
        margin: 20vh 8vw 0vh 8vw;
        height: 50%;
    }
    .contactHead, .quickHead {
        text-align: center;
        font-size: 22px;
    }
    .contact {
        width: 50%;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
    .Num {
        width: 50%;
    }
    .quickLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 84vw;
        margin: 5vh 8vw 0vh 8vw;
        height: 50%;
    }
    .quick {
        font-weight: 500;
        font-size: 17px;
        color: #000000;
        text-align: center;
        width: 100%;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 25%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }
    .subjectCardCont {
        flex-wrap: wrap;
    }
    .subjectHeadCont {
        width: 100vw;
        flex-direction: column;
        display: flex;
        height: 94vh;
        background-image: url('./../../statics/images/homebg1.png');
        background-size: 200% 100%;
    }
    .PT {
        font-size: 28px;
        }
        .Cardptpt {
            cursor: pointer;
            width: 100% !important;
            margin-left: 0%;
            height: 73%;
            display: flex;
            flex-direction: column;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background: linear-gradient(180deg, #3DFAFF 0%, #10C7B7 83%);
            box-shadow: none;
            border-radius: 4px;
            color: white;
        }
    .subjectCardContHead {
        font-weight: 600;
        font-size: 19px;
        margin-top: 11%;
        text-align: center;
        color: #FFFFFF;
    }
    .subjectCardCont {
        height: 84%;
        width: 100%;
        margin-top: auto;
        display: flex;
        padding: 1% 5% 9%;
        flex-direction: row;
        justify-content: space-around;
    }
    .subjectCardHead {
        font-weight: 600;
        font-size: 16px;
        width: 94%;
        margin-top: 15%;
        margin-left: 6%;
    }
    .cardClass {
        font-family: Montserrat !important;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 125%;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 3%;
        font-weight: normal;
        font-size: 14px;
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .subjectCardMainPage {
        width: 44%;
        margin-bottom: 7%;
        height: 40%;
    }
    .glyphiconpt-chevron-left {
        width: 8vw !important;
        height: 10vh !important;
        margin-left: 35px;
        top: 146px;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: url('./../../statics/images/left.png');
    }
    .glyphiconpt-chevron-right {
        width: 8vw !important;
        height: 10vh !important;
        background-position-y: center;
        background-repeat: no-repeat;
        margin-left: -32px;
        top: 146px;
        background-image: url('./../../statics/images/right.png');
    }
}