body {
    overflow: hidden; /* Hide scrollbars */
    overflow: hidden;
    font-family: SANS-SERIF;
  }
  

/* .authPage{
    overflow: hidden !important;
} */

.logoProfileTQB {
    height: 5vh;
    margin: 2vh;
    border-radius: 100px;
    width: 5vh;
    background: 100% 100%;
}

.getStartBtn {
    font-size: 18px;
    background-color: white;
    color: #10C7B6;
    height: 50%;
    margin-top: 15% !important;
    line-height: 5vh !important;
    text-align: center;
    border-radius: 4px;
    width: 155%;
}

.navBar {
    height: 10vh;
    width: 100vw;
    display: flex;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    flex-direction: row;
    background-color: #45d0bd;
}

.logoCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 10%;
}

.logoCountQuest {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 13%;
}

.logoTQB {
    height: 5vh;
    margin: 2vh;
    width: 6vh;
    background: 100% 100%;
}

.logoCountQuest {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 17%;
}

.btnContQuestHome {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 73%;
}

.tqblogoquest {
    height: 50px;
    margin: 2vh -1vh;
    width: 23vh;
    background: 100% 100%;
}

.navAuthBtn {
    margin: 0% 1%;
    background-color: #45d0bd;
    border: none;
    outline: none;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: sans-serif;
}

.navAuthBtn:focus {
    outline: none;
    color: white;
    text-decoration: none;
    border: none;
    outline-offset: 0;
}

.btnCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 74%;
}

.btnText {
    margin: 0vw 1vw;
    line-height: 9vh;
}

a:hover {
    color: white;
    text-decoration: none;
}

.tqbnavBar {
    height: 10vh;
    z-index: 10;
    width: 100vw;
    display: flex;
    /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15); */
    flex-direction: row;
    background-color: #45d0bd;
}

.tqbnavBarLogin {
    height: 10vh;
    z-index: 10;
    position: fixed;
    width: 100vw;
    display: flex;
    /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15); */
    flex-direction: row;
    background-color: #45d0bd;
}

.registerPage {
    height: 90vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    top: 10vh;
}

.registerPageOne {
    height: 90vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: row;
}

.registerImage {
    width: 55%;
}

.register_form {
    width: 45%;
}

.registerForm{
    width: 60%;
    height: 80%;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 10%;
}

.registerHead {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: -3%;
    color: #10C7B6;
    line-height: 150%;
    width: 100%;
}

.fromGroup {
    flex-wrap: wrap;
    padding: 5%;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.name{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nameSy{
    width: 49%;
    color: rgba(0, 0, 0, 0.54);
}
.nameClass{
    color: rgba(0, 0, 0, 0.54);
    width: 49%;
    margin-left: 2%;
}
.form-control:focus {
    border: none;
    margin-top: -1%;
    height: 100%;
    font-size: 17px;
    box-shadow: none;
}

.form-control-register-lr:focus{
    outline: none;
}

.form-control-register-lr {
    padding: 0;
    border: 0;
    width: 100%;
    border: none;
    margin-top: -1%;
    height: 70%;
    background: none;
    font-size: 20px;
    box-shadow: none;
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.54);
    border-radius: 0;
}

.form-control-register {
    padding: 0;
    border: 0;
    width: 100%;
    border: none;
    margin-top: -1%;
    height: 125%;
    background: none;
    font-size: 20px;
    box-shadow: none;
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.54);
    border-radius: 0;
}

.form-control-register:focus{
    outline: none;
    text-decoration: none;
}

.form-control {
    border: none;
    outline: none;
    padding: 0;
    box-shadow: none !important;
    height: 8%;
    text-decoration: none;
    height: auto;
}

.form-control:focus {
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.54);
    border-radius: 0;    
}
.text-danger {
    padding: 0px 3%;
    color: #dc3545 !important;
    display: none;
    font-size: 13px;
}
.password{
    width: 49%;
}
.passwordCon{
    width: 49%;
    margin-left: 2%;
}

.nameSubject{
    color: rgba(0, 0, 0, 0.54);
    width: 100%;
    margin-left: 2%;
    margin-bottom: 0;
}
.RegisterBtn {
    width: 100%;
    background-color: #45d0bd;
    color: white;
    height: 10%;
}
.RegisterBtnBtn {
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    height: 100%;
    width: 100%;
    background-color: #45d0bd;
    color: white;
}
.RegisterBtnBtn:focus {
    box-shadow: none;
    background-color: #45d0bd;
    outline: 0;
    border: 0;
}
.RegisterBtnBtn:active {
    background-color: #45d0bd !important;
    outline: 0;
    border: 0;
}
.RegisterBtnBtn:hover {
    background-color: #45d0bd !important;
    outline: 0;
    border: 0;
}
.btn-link {
    color: #45d0bd;
    font-size: 15px;
    line-height: 10px;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    background-size: calc(1.255em + .375rem) calc(1.25em + .375rem) !important;
}
.btn-link:focus{
    box-shadow: none;
}
.btn-link:hover{
    color:#10C7B6
}
.already {
    margin-bottom: auto;
    display: flex;
    height: 0%;
    font-size: 16px;
}
.registerImage {
    background-image: url('./../../statics/images/registerImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}
.LoginBtn {
    width: 100%;
    background-color: #45d0bd;
    color: white;
    height: 18%;
}
.loginForm {
    width: 60%;
    height: 40%;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 30% 10%;
}
.loginHead {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #10C7B6;
    line-height: 150%;
    width: 100%;
    margin-bottom: -10%;
}

@media screen and (max-width: 800px) {
    .registerImage {
        display: none;
    }
    .register_form {
        width: 100%;
    }
    .registerForm {
        width: 80%;
    }
    .logoCont {
        width: 20%;
    }
    .loginForm {
        width: 80%;
        margin: 15% 10%;
    }
    .logoCountQuest {
        width: 40%;
    }
    .btnCont {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 60%;
    }
    .btnContQuest {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 42%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}